* {
    margin: 0;
}

.head {
    display: flex;
    padding-top: 15px;
    background-color: #1f2937;
    color: #f9faf8;
}

.logo {
    padding-left: 40px;
    font-size: 24px;
}

.header1 {
    padding-left: 500px; 
    font-size: 24px;
    color: #e5e7eb;
}

.header2 {
    padding-left: 70px; 
    font-size: 24px;
    color: #e5e7eb;
}

.header3 {
    padding-left: 70px; 
    font-size: 24px;
    color: #e5e7eb;
}

.second {
background-color: #1f2937;
flex-direction: column;
padding-top: 80px;
color: #f9faf8;
}

.lol {
    display: flex;
    flex-direction: column;
}
.image {
    background-color:  gray;
    width: 500px;
    height: 150px;
    text-align: center;
    
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    padding-left: 200px;
}

.website {
    font-size: 18px;
    width: 400px;
    padding-left: 200px;
}

.sig {
    display: flex;
    justify-content: space-around;
    padding-right: 200px;
    padding-top: 10px;
    
}

.up {
  font-size: 18px;
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    border-radius: 7px;   
}

.lul {
    display: flex;
    justify-content: space-around;
}

.random {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}


.square { display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.thing {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border-color: #3882f6;
    border-style: solid;
}

.content {
    display: flex;
    justify-content: space-around;
}

.one {
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 5px;
}

.quote {
    background-color: #e5e7eb;
}

.inspiration {
    font-size: 36px;
    font-style: light italic ;
    text-align: center;
    padding-top: 70px;
}

.autor {
    padding-left: 1100px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 60px;
}

.blank { padding-top: 100px;

}

.nun {
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    
}

.last {
    width: 500px;
    height: 50px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 40px;
    display: flex;
    
}

.red {
    font-size: 18px;
   

}

.blue {
   
   padding-left: 50px;
    border-radius: 10px;
    align-items: center;
    border-radius: 10px;
    border-color: #f9faf8;
    font-size: 18px;
    border-style: solid;
}

.final {
    background-color: #1f2937 ;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    color: #f9faf8;
    font-size: 24px;
}


.copy {
    padding-left: 500px;
}

.odin {
padding-left: 100px;
}


















